<div id="contenedor">

<h1>Listing blogs</h1>
<div id="contenedor">
<% @blogs.each do |blog| %>

<hr />

	<div class="entrada">
                <h4>Post by: <%= blog.user.login%></h4>
		<h5>Blog name: <%= blog.name %></h5>
		<%= image_tag blog.picture_url(:thumb_2).to_s %>
		<p>Post date: <%= blog.created_at %></p>
		<p>Content: <%= blog.content%> </p>
		<p><%= link_to 'Show', blog %> -  <%= link_to 'Edit', edit_blog_path(blog) %> - <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></p>
	</div>


<% end %>

<br />
</div>
<%= link_to 'New Blog', new_blog_path %> |
<%= link_to "Home", home_path %>
</div>
