<div id="contenedor">

<%= form_tag(blogs_path,:method => 'get') do -%>
  <h5>
    <%=t '.Search blogs that conteain' %><%= text_field_tag "search", params[:search] %>
    <%= submit_tag "Search", :name => nil %>
    <%= link_to( "Search", search_blogs_url, { :onClick => 'return(processAjaxLinks( this, \'html\' ));' } ) -%>
  </h5>
<%- end -%>
	
<div id="results">ajax</div>
<!--<%- if ( request.xhr? ) -%>
ajax
<div id="results">ajax</div>
<%- else -%>
normal
<%= render :template => "blogs/search", :locals => { :blog => @blog } %>
<%- end -%>-->
<br />
<%= link_to 'New Blog', new_blog_path %> |
<%= link_to "Home", home_path %> 
</div>
