<div id="contenedor">

<h1>Listing blogs</h1>

<% @blogs.each do |blog| %>

<hr />

	<div class="entrada">
		<h1><%= blog.name %></h1>
		<h2><%= blog.picture %></h2>
		<h2><%= blog.birddate %></h2>
		<p><%= blog.comment%> </p>
		<p><%= link_to 'Show', blog %> -  <%= link_to 'Edit', edit_blog_path(blog) %> - <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></p>
	</div>


<% end %>

<br />

<%= link_to 'New Blog', new_blog_path %>
<%= link_to "Home", home_path %>
</div>
