<div id='contenedor'>

<p id="notice"><%= notice %></p>

<p>
  <b>Posted by:</b>
  <%= @blog.user.login %>
</p>

<p id='pictureBlog'>
  <b>Picture:</br>
  <% if (@blog.picture.to_s == '/assets//assets/default.jpg_default.jpg') %>
   <%= image_tag @blog.picture_url(:thumb_1).to_s %><br />
  <% else %>
  <%= link_to (@blog.picture_url) do %>
     <%= image_tag @blog.picture_url(:thumb_1).to_s %>
  <% end %>
  <% end %>
</p>

<p>
  <b>Name:</b>
  <%= @blog.name %>
</p>

<p>
  <b>Post date:</b>
  <%= @blog.created_at %>
</p>

<div id='cajacontenido'>
  <h3>Content:</h3>
  <%= @blog.content %>
</div>
<br />
<div >
<%= render :template => "comments/index", :locals => { :blog => @blog, :comments => @comments } %>
</div>
<br />
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %> |
<%= link_to "Home", home_path %>
</div>
