<div id='contenedor'>

<title>show blog</title>

<p id="notice"><%= notice %></p>

<p>
  <b>Posted by:</b>
  <%= @blog.user.login %>
</p>

<p>
  <b>Picture:</br>
  <%= image_tag @blog.picture_url(:thumb_1).to_s %><br />

  <% if (@blog.picture.to_s == '/assets//assets/default.jpg_default.jpg') %>
  <% else %>
  <%= link_to 'Real size', @blog.picture_url %>
  <% end %>
</p>

<p>
  <b>Name:</b>
  <%= @blog.name %>
</p>

<p>
  <b>Post date:</b>
  <%= @blog.created_at %>
</p>

<p>
  <b>Content:</b>
  <%= @blog.content %>
</p>
<div id='contendor_2'>

<%= render :template => "comments/index", :locals => { :blog => @blog } %>

</div>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %> |
<%= link_to "Home", home_path %>
</div>
