<div id="contenedor3">
<h3>Listing comments</h3>
<%= form_tag( [@blog, @comment], { :method => 'get', :id => 'searchComments', :onSubmit => 'return(searchFormHandler2( this ));' } ) do -%>
  <h5>
    <%= 'Search comments that conteain ' %><%= text_field_tag "searchC", params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </h5>
<%- end -%>
<div id='resultsC'>
<%= render :partial => "comments/searchComment", :locals => { :blog => @blog, :comments => @comments } -%>
</div>
<p><%= link_to 'New Comment', new_blog_comment_path( @blog ) %></p>




