<div id='contenedor3'>
<h3>Listing comments</h3>


<% @comments.each do |comment| %>
<hr />
  <tr>
  	<div class="entrada">
    <h3 >Commented by: <%= comment.blog.user.login %></h3>
    <p >Comment: <%= comment.content %></p>
    <p><%= link_to 'Show', blog_comment_path( comment ) %> -
    <%= link_to 'Edit', edit_blog_comment_path(comment) %> -
    <%= link_to 'Destroy', blog_comment_path( comment ), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  	</div>
  </tr>
  
<% end %>
<hr />
<%= link_to 'New Comment', new_blog_comment_path( @blog ) %>
</div>

