<p id="notice"><%= notice %></p>

<p>
  <h4>User:</h4>
  <%= @comment.blog.user.login %>

  <h4>Blog:</h4>
  <%= @comment.blog_id %>

  <h4>Content:</h4>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
