<div id='contenedor'>


<p id="notice"><%= notice %></p>

<p>
  <h4>User:</h4>
  <%= @comment.user.login %>

  <h4>Blog:</h4>
  <%= @comment.blog_id %>

  <h4>Content:</h4>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_blog_comment_path( @comment.blog_id, @comment) %> |
<%= link_to 'Back', blog_path(@comment.blog_id) %>

</div>
