<title> welcome </title>
<div id="contenedor">
<h1>WELCOME</h1>
<h2>Page of William</h2>
<%= link_to "Go to Blogs", blogs_path %>
   <div> <h2>Sign in with:</h2></div>
     <div id='frame2'>
          <a href="users/auth/facebook" class="auth_provider_home">
          <%= image_tag "facebook_32.png", :size => "32x32", :alt => "Facebook" %> 
          </a>
          <a href="users/auth/twitter" class="auth_provider_home">
          <%= image_tag "twitter_32.png", :size => "32x32", :alt => "twitter" %> 
          </a>
          <a href="users/auth/google_oauth2" class="auth_provider_home">
          <%= image_tag "google_oauth2_32.png", :size => "32x32", :alt => "google_oauth2" %> 
          </a>
          <a href="users/auth/github" class="auth_provider_home">
          <%= image_tag "github_32.png", :size => "32x32", :alt => "github" %> 
          </a>
          <a href="users/auth/open_id" class="auth_provider_home">
          <%= image_tag "open_id_32.png", :size => "32x32", :alt => "open_id" %> 
          </a>
          <a href="users/auth/linkedin" class="auth_provider_home">
          <%= image_tag "linkedin_32.png", :size => "32x32", :alt => "linkedin" %> 
          </a>
	  <a href="users/auth/yahoo" class="auth_provider_home">
          <%= image_tag "yahoo_32.png", :size => "32x32", :alt => "yahoo" %> 
          </a>
	<div class="clear"></div>
    </div>
</div>
